<div class="setup-bg">
    <div class="auth-wrap"  [style.top.px]="elemTop">
        <div class="app-logo"><img src="images/logo.png"></div>
        <p class="info-txt padtop2">Almost ready! Please set your login password</p>
        <div class="input-wrap padtop2">
            <form [formGroup]="setupPassword" (ngSubmit)="onSubmit()">
                <div class="auth-input">
                    <div class="project-input">
                        <md-input formControlName="password" type="password" (keyup)=onKeyup() placeholder="Password" autofocus></md-input>
                        <span class="error-txt" *ngIf="!setupPassword.controls['password'].valid && setupPassword.controls['password'].touched">{{passwordError}}</span>
                        <br/>
                        <div class="clear-icon" *ngIf="!setupPassword.controls['password'].valid && setupPassword.controls['password'].touched">
                            <md-icon>clear</md-icon>
                        </div>
                        <div class="ok-icon" *ngIf="setupPassword.controls['password'].valid && setupPassword.controls['password'].touched">
                            <md-icon>done</md-icon>
                        </div>
                    </div>
                    <div class="project-input">
                        <md-input formControlName="confirmPassword" type="password" placeholder="Confirm Password"></md-input>
                        <span class="error-txt" *ngIf="setupPassword.controls['confirmPassword'].touched && setupPassword.value['confirmPassword'] != setupPassword.value['password']">Password mismatch</span>
                        <br/>
                        <div class="clear-icon" *ngIf="setupPassword.controls['confirmPassword'].touched && setupPassword.value['confirmPassword'] != setupPassword.value['password']">
                            <md-icon>clear</md-icon>
                        </div>
                        <div class="ok-icon" *ngIf="setupPassword.value['confirmPassword']!=null && setupPassword.controls['confirmPassword'].valid && setupPassword.value['confirmPassword'] == setupPassword.value['password']">
                            <md-icon>done</md-icon>
                        </div>
                    </div>
                    <div class="terms-link">
                        <md-checkbox type="checkbox " color="primary" formControlName="terms" class="fleft">
                            <p class="terms-txt lh-zero">I agree to &nbsp;</p>
                        </md-checkbox>
                        <p class="terms-txt cursor-pointer lh-zero" (click)="onTermsClick()"><span class="terms-hightlight">Terms and Conditions</span></p>
                    </div>
                </div>
                <button md-raised-button class="btn primary-btn" [disabled]="!setupPassword.valid || setupPassword.value['confirmPassword'] != setupPassword.value['password'] || !setupPassword.value['terms']">Login</button>
            </form>
        </div>
    </div>
    <div class="terms" [class.terms-visible]="termCondition" (click)="onTermsClick()">
        <div class="terms-wrap">
            <md-icon class="term-close">clear</md-icon>
            <h4 class="terms-ht">Terms & Conditions</h4>
            <div class="terms-cont">
                <p class="terms-txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                    sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                    ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
                    ut labore et dolore magnam aliquam quaerat voluptatem. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                    aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                    porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                    numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                </p>
            </div>
            <div class="terms-bot">&nbsp;</div>
        </div>
    </div>
</div>