<div class="auth-bg" *ngIf="!errDiv">
    <div class="auth-wrap">
        <div class="app-logo"><img src="images/logo.png"></div>
        <div *ngIf="!msgDiv">
            <p class="info-txt padtop2">Enter your registered email address</p>
            <form [formGroup]="forgotEmail" (ngSubmit)="onReseted()">
            <div class="input-wrap">
                <div class="auth-input">
                    <md-input formControlName="email" placeholder="Email" ></md-input>
                    <!--<p class="resend-txt">I registered using mobile number</p>-->
                </div>
                <button  type="submit" md-raised-button class="btn primary-btn" [disabled]="!forgotEmail.valid">reset my password</button>
                <div class="userAssist1">
                <!--<div (click)="onHome()" class="reqAccess">Home</div>-->
                <div class="resend-txt loginAccess" (click)="onLogin()">Login</div>
                </div>
            </div>
            </form>
        </div>
    <div *ngIf="msgDiv">
                <p class="info-msg">{{msg}}</p>
                <div class="userAssist1">
                <!--<div (click)="onHome()" class="reqAccess">Home</div>-->
                <div class="resend-txt loginAccess" (click)="onLogin()">Login</div>
                </div>
    </div>
    </div>
</div>
<div *ngIf="errDiv">
    <div class="exp-img"><img src="images/expired.svg"></div>
<div class="exp-msg">{{msg}}</div>
<div class="exp-foot">Here are some helpful links insted:</div>
<div class="flex-container exp-links" fxLayoutAlign="center" fxLayout="row">
    <div class="flex-item" fxFlex="5%" (click)="onHome()">Home</div>
    <div class="flex-item" fxFlex="5%" (click)="onLogin()">Login</div>
    <div class="flex-item" fxFlex="5%">Help</div>
</div>
<div class="exp-bottom-txt">DFP - New IT paradigm for Digital Transformation</div>
<div class="exp-app-logo"><img src="images/email-logo.png"></div>
</div>
