
.create-project-container{
    padding-top:1px;
    width:430px;
   
}
.project-input{
    position:relative;
    clear: both;
}
#Hello-text {
    font-size:26px;
}
.auth-wrap.create-project-container {
    width: 100% !important;
}

.centered-img {
    margin: auto;
    display: block;
}