@import '~@angular/material/core/theming/all-theme';

@include md-core();

  $primary: md-palette($md-red,600);
  $accent: md-palette($md-orange,600);

  $theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);
